<template name="trending">

  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left button-positive" data-ion-modal="search">
          {{#if isAndroid}}
              {{> ionIcon icon='android-search'}}
          {{else}}
              {{> ionIcon icon='ios-search'}}
          {{/if}}
      </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Trending</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="glass"}}
      {{#ionList class="glass-text"}}
        {{#each events}}
          {{> _eventItemTrending event=this path="event.show"}}
        {{/each}}
      {{/ionList}}

      <!--<div class="empty-view">
        {{> ionIcon icon="ios-flame"}}
        No trending events yet ☹
      </div>-->

    {{/ionContent}}
  {{/ionView}}
</template>
