<template name="settings">
  {{#ionModal title="Settings"}}
    <div class="list">
      <div class="item item-divider">
        Account
      </div>
      <a class="item item-icon-left item-icon-right" href="#" data-action="sign-out">
        {{> ionIcon icon="heart-broken"}}
        Sign Out
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
      <div class="item item-divider">
        Feedback & Support
      </div>
      <a class="item item-icon-left item-icon-right" href="https://www.facebook.com/groups/1616534045293447/" target="_system">
        {{> ionIcon icon="social-facebook"}}
          Private Beta Group
        {{> ionIcon icon="ios-arrow-right"}}
      </a>
    </div>
  {{/ionModal}}
</template>
