<template name="usersShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#with user}}
        {{> _profileHeader}}

        {{#ionList}}
          {{#each votedEvents}}
            {{> _eventItem event=this path="event.show"}}
          {{/each}}
        {{/ionList}}
      {{/with}}

    {{/ionContent}}
  {{/ionView}}
</template>
