// Custom
@import 'app-mixins';
@import 'app-variables';

// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.event-title a {
  text-decoration: none;
  font-weight: bold;
}

.button-circle {
  border-radius: 100%;
  min-width: 30px;
  min-height: 30px;
}

.bar .title {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.empty-view {
  color: #ccc;
  text-align: center;
  padding-top: 160px;

  i {
    display: block;
    margin: 0 auto 12px auto;
    font-size: 60px;
  }
}

.button.vote-button {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  padding: 20px 0 0 0;
  position: absolute;
  top: 60px;
  right: 16px;
  font-size: 12px;
  border: 0;
  border-radius: $border-radius-base;
  line-height: 20px;

  &.has-voted {
    .icon {
      color: $positive;
    }
  }

  .icon {
    height: 20px;
    top: 4px;
    left: 7px;

    &:before {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.comments-count {
  font-size: 12px;
  width: 40px;
  text-align: right;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 16px;
  color: #999999;

  .icon {
    font-size: 16px;
    font-size: 16px;
    position: static;
    display: inline;
    color: #cccccc;

    &:before {
      display: inline;
    }
  }
}

.button.trending-count {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  padding: 25px 0 0 0;
  position: absolute;
  top: 13px;
  right: 8px;
  font-size: 12px;
  border: 0;
  border-radius: $border-radius-base;
  background-color: transparent;
  line-height: 20px;

  .icon {
    height: 20px;
    top: 7px;
    left: 7px;

    &:before {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.date-posted {
  font-size: 12px;
  width: 36px;
  text-align: right;
  position: absolute;
  top: 16px;
  right: 16px;
  color: #999999;
}

.glass {
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/app.lifeishappeningnow.my/images/IMG_4794-Exposure_4_scaled.jpg);
  background-size: cover;
}
.glass-text {
  opacity: 0.8;
  background-color: #ffffff;
}

.event-detail {

  h5 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;

    small {
      font-size: 11px;
      font-weight: bold;
      color: #666;
    }
  }

  .item p a {
    color: #666;
  }

  button {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.event-detail-comments {
  position: relative;

  .button-new-comment {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.sign-in-modal {
  p {
    margin: 48px 0;
  }
}

.sign-in-button img {
  margin-top: 6px;
}

.profile-header {
  background: #27272B center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 24px;

  .avatar {
    margin: 0 auto;
  }

  h3, p {
    color: #fff;
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;

    img {
      vertical-align: middle;
    }
  }
}

.avatar {
  .avatar-image {
    border: 2px solid #fff;
  }

  .avatar-initials {
    border: 2px solid #fff;
    background: $positive;
    color: #fff;
  }
}

.comment-item {
  border-top: 0;
  padding-left: 42px;
  padding-top: 36px;
}

a.comment-item-author {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 8px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  color: $dark;

  .avatar {
    display: inline-block;
    vertical-align: middle;
  }
}

// Override styles from the accounts-ui package
#login-buttons .login-button {
  font-size: 120%;
}
#login-buttons .login-image {
  top: 8px;
}
