<template name="newComment">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Comments" id="comments-new-form" type="insert"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">New Comment</h2>
        <button type="submit" class="button button-positive button-clear">Post</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickField name='eventId' type="hidden" value=eventId label=false}}
        {{> afQuickField name='body'}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
