<template name="now">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
    {{#if isAndroid}}
        {{> ionIcon icon='android-search'}}
    {{else}}
      {{> ionIcon icon='ios-search'}}
    {{/if}}
    </button>
  {{/contentFor}}

  <!--{{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newEvent">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}-->

  {{#contentFor "headerTitle"}}
    <h1 class="title">Now</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each events}}
          {{> _eventHeroItem event=this path="event.show"}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
