<template name="newEvent">
  {{#ionModal customTemplate=true}}
    {{# autoForm collection="Events" id="events-new-form" type="insert"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">New Event</h2>
        <button type="submit" class="button button-positive button-clear">Post</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickField name="url" type="url"}}
        {{> afQuickField name="name"}}
        {{> afQuickField name="description"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
