<template name="search">
  {{#ionModal focusFirstInput=true title="Search"}}
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          {{> ionIcon icon="ios-search" class="placeholder-icon"}}
          <input type="text" placeholder="Search" value="{{searchQuery}}">
        </label>
      </div>
      {{#each events}}
        {{> _eventItem event=this path="event.show"}}
      {{/each}}
    </div>
  {{/ionModal}}
</template>
