<template name="_profileHeader">
  <div class="profile-header">
    {{> avatar user=this size="medium" }}
    <h3>{{ profile.name }}</h3>
    <p>
      Here are your events!
    </p>
  </div>
</template>
