<template name="profile">
  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear pull-right button-positive" data-ion-modal="settings">
          {{#if isAndroid}}
              {{> ionIcon icon='android-settings'}}
          {{else}}
              {{> ionIcon icon='ios-gear-outline'}}
          {{/if}}
      </button>
    {{/contentFor}}
  {{/if}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Profile</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#with user}}
        {{> _profileHeader}}
        {{#ionList}}
          {{#each votedEvents}}
            {{> _eventItem event=this path="event.show"}}
          {{/each}}
        {{/ionList}}
      {{else}}
        <div class="empty-view">
          {{> ionIcon icon="ios-person"}}
          You haven't ♥'d any events yet!
        </div>
      {{/with}}
    {{/ionContent}}
  {{/ionView}}
</template>
