<template name="signIn">
  {{#ionModal title=""}}

    <div class="padding text-center sign-in-modal">
      <p>
        <img src="/malaysialive-icon-160x160.png" width=80 height=80 />
        <br><br>
        Hello! Please sign in to do that…
      </p>

      <p>
      {{> loginButtons}}
      </p>

    </div>

  {{/ionModal}}
</template>
