<template name="_eventItemTrending">
  {{#with event}}
    {{#ionItem path=../path iconLeft=false iconRight=true}}
      <span class="button trending-count">
          {{> ionIcon icon="heart" }}
          {{numberOfVotes}}
      </span>
      <h2>{{name}}</h2>
      <p>
        {{venue}}
      </p>

    {{/ionItem}}
  {{/with}}
</template>
