<template name="_eventItem">
  {{#with event}}
    {{#ionItem path=../path iconLeft=false iconRight=true}}
      <h2>{{name}}</h2>
      <p>
        {{venue}}
      </p>
      <span class="comments-count">
        {{eventDisplayDate}}
      </span>
    {{/ionItem}}
  {{/with}}
</template>
