<template name="eventShow">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="share-event" data-event-id="{{event._id}}">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Details</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="glass"}}

      <div class="event-detail">

        {{#with event}}

          {{#ionItem iconLeft=false iconRight=true class="item-text-wrap glass-text"}}
            <h2 class="event-title">
              <a href="{{url}}" class="positive" target="_system">{{name}}</a>
            </h2>
            <p>
              {{{description}}}
            </p>
            <p style="padding-top: 1em">
              <strong>Where:</strong> {{venue}}
            </p>
            <p>
              <strong>When:</strong> {{eventDisplayDateTime}}
            </p>
            {{#if tickets}}
              {{# if ticketCount }}
                <p><button class="button button-positive" data-action="buy-tickets">
                    Buy tickets {{ticketsLabel ticketCount}}
                </button></p>
              {{else}}
                <p>
                    <button class="button button-negative">
                        SOLD OUT!
                    </button>
                </p>
              {{/if}}
            {{else}}
                {{#if telephoneBookingNumber}}
                    <p><button class="button button-positive" data-action="telephone-call" data-telephone-number="{{telephoneBookingNumber}}">
                        Call to Book Now
                    </button></p>
                {{/if}}
            {{/if}}
            <!--
            {{#with author}}
              <p>
                <small>via <a href="{{pathFor 'users.show'}}" class="dark">{{profile.name}}</a></small>
              </p>
            {{/with}}
            -->
            <span class="date-posted">
              {{eventDisplayDate}}
            </span>
            {{> _voteButton}}

          {{/ionItem}}

        <div class="padding event-hero-image">
          <img src="{{heroImage}}" style="width: 100%">
        </div>

        {{#if heroVideo}}
        <video style="width:100%" src="{{heroVideo}}" controls poster="{{heroVideoPoster}}">
          <p>You can <a href="{{heroVideo}}">download the video</a> instead.</p>
        </video>
        {{/if}}

         <!--{{#if numberOfVotes}}
            <div class="padding event-detail-upvotes">
                <h5>Who ♥'s this?</h5>
              {{#each voters}}
                  <a href="{{pathFor 'users.show'}}">
                    {{> avatar user=this size="small" shape="circle"}}
                  </a>
              {{/each}}
            </div>
        {{/if}}-->

        {{/with}}

        <div class="padding event-detail-comments glass-text">
          <h5>Comments</h5>
          {{#with event}}
            <button class="button button-positive button-small button-circle button-new-comment" data-action="new-comment">
              {{>ionIcon icon="plus"}}
            </button>
          {{/with}}
        </div>

        <div class="list glass-text">
          {{#each comments}}
            {{> _comment}}
          {{/each}}
        </div>

      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
