<template name="buyTickets">
  {{#ionModal customTemplate=true}}
    {{#autoForm collection="Transactions" id="buy-tickets-form" type="insert"}}
      <div class="bar bar-header bar-stable">
        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
        <h2 class="title">Buy tickets</h2>
        <button type="submit" class="button button-positive button-clear">Buy</button>
      </div>
      <div class="content has-header overflow-scroll">
        {{> afQuickField name='eventId' type="hidden" value=eventId label=false}}
        {{> afQuickField name='amount' type="number"}}
      </div>
    {{/autoForm}}
  {{/ionModal}}
</template>
